:root {
  --var: undefined;
}

body {
  font-family: "ABCRepro-Medium", Helvetica, Arial, sans-serif;
}

header {
  position: sticky;
  width: 100vw;
  top: 0;
  padding: 1rem;

  display: flex;
  justify-content: space-between;
}

nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.intro {
  padding: 1rem;
}

.intro * {
  margin-bottom: 1rem;
}

.title {
  font-size: 5rem;
}

.liikmed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.liige {
  width: 100%;
  align-self: center;
  text-align: center;
}
